<!DOCTYPE html>

<style xmlns:font-family="http://www.w3.org/1999/xhtml">
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

div { float: left; }
.normal * { font-weight: normal; }
</style>

<html>
<head>
    <meta charset="utf-8"/>
    <title>lifeLine(건물 대피도)</title>
</head>

<body>
    <h1 style="font-family: 'Nanum Gothic';"> lifeLine[고등] 구현물 </h1>
    <h3 style="font-family: 'Nanum Gothic';"> 2019 삼성전자 주니어 소프트웨어 창작대회 </h3>
    <p style="font-family: 'Nanum Gothic';"> 화재가 감지되었습니다. 현재 위치 확인 후, 아래 대피도에 따라 신속하게 대피해주시기 바랍니다. </p>
    <img src="https://i.ibb.co/4tBKrGS/FINAL.gif" alt="Evacuation" width="850" height="522" data-load="full" style="border:7px solid #383b4c;background-color:white">
    <h3 style="font-family: 'Nanum Gothic';"> 건물에 설치된 카메라의 실시간 영상입니다. </h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/U_sYIKWhJvk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
</html>
