<!DOCTYPE html>

<style xmlns:font-family="http://www.w3.org/1999/xhtml">
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

div { float: left; }
.normal * { font-weight: normal; }
</style>

<html>
<head>
    <meta charset="utf-8"/>
    <title>lifeLine</title>
</head>

<body>
    <h1 style="font-family: 'Nanum Gothic';">lifeLine[고등] 구현물</h1>
    <h3 style="font-family: 'Nanum Gothic';"> 2019 삼성 주니어 소프트웨어 대회 </h3>
    <!-- <img src="lifeLine.jpg" width="1080" height="608" alt="building" title="lifeLine1"> -->
    <br>
    <p style="font-family: 'Nanum Gothic';"> 건물의 7층 구조도의 3D 모델링입니다. </p>
    <p style="font-family: 'Nanum Gothic';"> 건물 주소지 : 서울특별시 삼성동 주소창대로7 107동 707호</p>
    <p style="font-family: 'Nanum Gothic';"> 현재 위치를 확인하시고, 건물 단면도를 확인하시려면 사진을 클릭하세요. </p>
    <br>
    <img src="https://i.ibb.co/J5dPHwC/life-Line.png" alt="lifeLine Logo" width="250" height="98">
    <br>
    <br>
    <a href="/drawing" title="클릭 또는 터치시 이동합니다.">
        <img src="https://i.ibb.co/6mSr61d/3D.jpg" alt="3D Modeling" width="890" height="593" data-load="full" style="border:7px solid #383b4c;background-color:white">
    </a>
    <br>
    <!-- 770 450 -->
</body>
</html>
